body{
    margin: 0;
    font-family: "Dengrek", sans-serif;
    background-color: #21222A;
  
}
/* styling the  nav */
.nav{
    display: flex;
    align-items: center;
    background-color:#060711;  
    height: 90px;
    padding: 20px 15px;
}
.nav-h3, .nav-h4 {
    margin: 0;
}
.nav-h3{
    margin-right: auto;
    color: #61DAFD;
    font-size: 22px;
}
.nav > img {
    width: 45px;
}
.nav-h4{
    color: #FFFAFA;
}
/* styling main content */
.main{
    padding: 57px 27px;
    color: #FFFAFA;

   
}
.main-title{
    margin: 0;
    font: 39px;
    letter-spacing: -0.05em;
   
}
.main-facts > li{
    line-height: 19px;
    padding-block: 10px;
}
.main-facts > li::marker{
    font-size: 1.5rem;
    color: #61DAFD;
}